<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ar">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Spring Boot Highcharts Demo</title>

    <link rel="stylesheet" th:href="@{/new/css/main.css}" href="/../../new/css/main.css" />
    <link rel="stylesheet" th:href="@{/new/css/highcharts.css}" href="/../../new/css/highcharts.css" />
    <link rel="stylesheet" th:href="@{/new/css/bootstrap.css}" href="/../../new/css/bootstrap.css" />

    <script th:src="@{/new/js/jquery-3.2.1.min.js}" src="../../js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/new/js/highcharts.js}" src="/../../new/js/highcharts.js"></script>
    <script th:src="@{/new/js/exporting.js}" src="/../../new/js/exporting.js"></script>

    <script type="text/javascript">
        $(function () {
            loadWorldwideSalesResult();
            loadBrowserMarketResult();
        });

        function loadWorldwideSalesResult(params) {
            $.get("/ajax/getAllocationsAnalysisData", params, function (data, textStatus, jqXHR) {
                console.log('textStatus : ' + textStatus);
                console.log('result : ' + JSON.stringify(data));

                if (textStatus == 'success') {

                    $('#barChartContainer').highcharts({
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: data.title
                        },
                        xAxis: {
                            categories: data.categories,
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'مليون ليرة',
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: +10,
                            y: 80,
                            floating: true,
                            borderWidth: 20,
                            backgroundColor: '#FAFAFA',
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: data.series
                    });
                } else {
                    console.log('Unable to retrive data');
                }

            });
        }

    </script>
</head>
<body>
<div id="wrapper">
    <h2>مخطط السلف</h2>
    <div id="barChartContainer"></div>

    <h2>Pie Chart</h2>
    <div id="pieChartContainer"></div>
</div>

<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>

</body>
</html>