<!DOCTYPE html>
<html  lang="ar" dir="rtl"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
              <h4>أحصائيات المصرف</h4>
              </div>
              <div class="form-group">
                   <label for="exampleInputPassword1">معرف المصرف</label>
                   <input type="text" name="BankID" class="form-control"  th:field="*{bankstats.Bank.BankID}" readonly>
              </div>
              <div class="form-group">
                   <label for="exampleInputPassword1">اسم المصرف </label>
                   <input type="text" name="BankName" class="form-control"  th:field="*{bankstats.Bank.BankName}" readonly>
              </div>
              <div class="form-group">
                   <label for="exampleInputPassword1">رمز المصرف</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.Bank.BankCode}" readonly>
              </div>
      		  <div class="form-group">
                   <label for="exampleInputPassword1">عدد الفروع</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.BranchesCount}" readonly>
              </div>
               <div class="form-group">
                   <label for="exampleInputPassword1">قيمة المخصصات الكلية</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.TotalAllocations}" readonly>
              </div>
              <div class="form-group">
                   <label for="exampleInputPassword1">عدد المخصصات الكلية</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.SumAllocations}" readonly>
              </div>
              
              <div class="form-group">
                   <label for="exampleInputPassword1">إجمالي عدد السلف</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.SumAllLoans}" readonly>
              </div>
               <div class="form-group">
                   <label for="exampleInputPassword1">عدد السلف المفتوحة</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.SumOpenLoans}" readonly>
              </div>
              <div class="form-group">
                   <label for="exampleInputPassword1">عدد السلف المغلقة</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.SumClosedLoans}" readonly>
              </div>
              <div class="form-group">
                   <label for="exampleInputPassword1">القيمة الإجمالية للسلف</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.TotalLoansValue}" readonly>
              </div>
              <div class="form-group">
                   <label for="exampleInputPassword1">نسبة السلف المغلقة</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.ClosedPercentage}" readonly>
              </div>
              <div class="form-group">
                   <label for="exampleInputPassword1">نسبة السلف المفتوحة</label>
                   <input type="text" name="BankCode" class="form-control"  th:field="*{bankstats.OpenPercentage}" readonly>
              </div>
              
              
              <div class="card-body">
               <div class="card-header">
              <h4>معلومات الفروع</h4>
              </div>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>اسم الفرع</th>
                  <th>اسم المصرف</th>
                  <th>رمز المصرف</th>

                </tr>
                </thead>
                <tbody>
                     
                <tr th:each ="bank : ${bankstats.BranchesList}" >
                  <td th:text="${bank.BranchName}"></td>
                  <td th:text="${bank.BankName}"></td>
                  <td th:text="${bank.BankCode}"></td>
                </tr>
                </tbody>
              </table>
            </div>
             
            <div class="card-body">
               <div class="card-header">
              <h4>معلومات المخصصات</h4>
              </div>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>قيمة المخصصات</th>
                  <th>تاريخ المخصصات</th>
                  <th>اسم المصرف</th>
                </tr>
                </thead>
                <tbody>
                     
                <tr th:each ="allocation : ${bankstats.AllAllocations}" >
                   <td th:text="${allocation.AllocationAmmount}"></td>
                  <td th:text="${allocation.AllocationDate}"></td>
                  <td th:text="${allocation.banks.BankName}+' '+${allocation.banks.BranchName}"></td>
                </tr>
                </tbody>
              </table>
            </div>

			<div class="card-body">
			<h4>السلف المغلقة</h4>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>اسم السلفة</th>
                  <th>التاريخ</th>
                  <th>تاريخ منح السلفة</th>
                  <th>نوع التمويل</th>
                  <th>نوع السلفة</th>
                  <th>معدل الفائدة</th>
                  <th>اسم المصرف</th>
                  <th>القيمة الصافية</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="loan : ${bankstats.ClosedLoansList}">
                  <td th:text="${loan.loan.Name}"></td>
                  <td th:text="${loan.loan.WorkDate}"></td>
                  <td th:text="${loan.loan.LoanDate}"></td>
                  <td th:text="${loan.loan.financeType.TypeName}"></td>
                  <td th:text="${loan.loan.loanType.TypeName}"></td>
                  <td th:text="${loan.loan.InterestRate}"></td>
                  <td th:text ="${loan.loan.bank.BankName}+' '+${loan.loan.bank.BranchName}"></td>
                  <td th:text="${loan.loan.NetAmmount}"></td>
                </tr>
                </tbody>
        
              </table>
            </div>


		
			<div class="card-body">
			<h4>السلف المفتوحة</h4>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>اسم السلفة</th>
                  <th>التاريخ</th>
                  <th>تاريخ منح السلفة</th>
                  <th>نوع التمويل</th>
                  <th>نوع السلفة</th>
                  <th>معدل الفائدة</th>
                  <th>اسم المصرف</th>
                  <th>القيمة الصافية</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="loan : ${bankstats.OpenLoansList}">
                  <td th:text="${loan.loan.Name}"></td>
                  <td th:text="${loan.loan.WorkDate}"></td>
                  <td th:text="${loan.loan.LoanDate}"></td>
                  <td th:text="${loan.loan.financeType.TypeName}"></td>
                  <td th:text="${loan.loan.loanType.TypeName}"></td>
                  <td th:text="${loan.loan.InterestRate}"></td>
                  <td th:text ="${loan.loan.bank.BankName}+' '+${loan.loan.bank.BranchName}"></td>
                  <td th:text="${loan.loan.NetAmmount}"></td>

                </tr>
                </tbody>
        
              </table>
            </div>
		</div>

              <!-- /.card-header -->
              <!-- form start -->
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
 <footer class="footer">
          <div class="footer-wrap">
              <div class="w-100 clearfix">
                <span class="d-block text-center text-sm-left d-sm-inline-block">جميع الحقوق محفوظة©2020 <a href="https://www.templatewatch.com/" target="_blank"></a>مصرف سورية المركزي.</span>
              </div>
          </div>
</footer>
</div>
<!-- ./wrapper -->

</body>
</html>
