<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
    <div th:if="${message}" th:text="${message}" th:class="${'alert' + 'alertClass'}"/>
		<table>
    <thead>
        <tr>
            <th> ID </th>
            <th> name </th>
            <th> address </th>
            <th> timestamp </th>
            <th> phone </th>
            <th> department </th>
            <th> Merge </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${addresses.empty}">
            <td colspan="2"> No Addresses Available </td>
        </tr>
        <tr th:each="address : ${addresses}">
            <td><span th:text="${address.id}"> id </span></td>
            <td><span th:text="${address.name}"> name </span></td>
            <td><span th:text="${address.location}"> address </span></td>
            <td><span th:text="${address.timestamp}"> timestamp </span></td>
            <td><span th:text="${address.phone}"> phone </span></td>
            <td><span th:text="${address.department}"> department </span></td>
            <td>
	            <form action="#" th:action="@{/address/edit/} + ${{address.id}}" method="get">
	                <button th:id="'table_entry_childs_button_' + ${address.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
	                    <i>Edit</i>
	                </button>
	            </form>
        	</td>
	        <td>
	            <form action="#" th:action="@{/address/delete/} + ${{address.id}}" method="get">
	                <button th:id="'table_entry_childs_button_' + ${address.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
	                    <i>Delete</i>
	                </button>
	            </form>
	        </td>
	        
			        <td>
			        <span th:if="${address.merged == 0}">
			            <form action="#" th:action="@{/merge/addaddress/} + ${{address.id}}" method="get">
			                <button th:id="'table_entry_childs_button_' + ${address.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
			                    <i>merge</i>
			                </button>
			            </form>
			       </span>
			 </td>
        </tr>
    </tbody>
</table>
	
    </div>
</div>
</body>
</html>

