<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        	
	<form action="#" th:action="@{/address/all}" method="get">
	                <button th:id="any" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
	                    <i>All Addresses</i>
	                </button>
	 </form>
	
	<form action="#" th:action="@{~/address/new}" method="get">
	                <button th:id="any" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
	                    <i>Add Address</i>
	                </button>
	            </form>
	            
	<form  action="#" th:action="@{~/address/onhold}" method="get">
	                <button sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
	                    <i>On Hold</i>
	                </button>
	            </form>
	            
	            <form  action="#" th:action="@{~/address/deletedlist}" method="get">
	                <button sec:authorize="hasAnyRole('ROLE_ADMIN')" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
	                    <i>Deleted Addresses</i>
	                </button>
	            </form>
	
    </div>
</div>
</body>
</html>
