<!DOCTYPE html>
<html  lang="ar" dir="rtl"
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>إحصائيات</h3>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	  <section class="content">
		  <div style="display: flex; justify-content: center;">
		   <img th:src="@{/new/images/qqq.gif}" src="../../new/images/qqq.gif" width="800" height="300"  align="middle"/>
		  </div>
							  <form action="#" th:action="@{/charts/setTime/next}" method="get">
								  <br>
								  <button th:id="'table_entry_childs_button_'" class="btn btn-link btn-rounded btn-fw" type="submit">
									  <i>إطلب إحصائبات</i>
								  </button>
							  </form>

	  </section>
	  <div class="row">
	  </div>

<br><br>


    
    <!-- Main content -->
	  <!-- Main content -->
	  <section class="content">
		  <div class="container-fluid">
			  <div class="row">
				  <!-- left column -->
				  <div class="col-md-12">
					  <!-- jquery validation -->
					  <div class="card card-primary">
						  <!-- /.card-header -->
						  <!-- form start -->
						  <div class="row">
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-bank mdi-18px text-dark"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-secondary  font-weight-bold" th:text="*{dm.TotalBanksCount}"></h2>
										  </div>
									  </div>
									  <canvas id="newClient"></canvas>
									  <div class="line-chart-row-title">عدد البنوك</div>
								  </div>
							  </div>
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-source-branch text-dark"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-secondary text-warning font-weight-bold" th:text="*{dm.TotalBranchesCount}"></h2>
										  </div>
									  </div>
									  <canvas id="allProducts"></canvas>
									  <div class="line-chart-row-title">عدد الأفرع</div>
								  </div>
							  </div>
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-account-card-details mdi-18px text-dark"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-success text-danger font-weight-bold" th:text="*{dm.TotalClientsCount}"></h2>
										  </div>
									  </div>
									  <canvas id="allProducts"></canvas>
									  <div class="line-chart-row-title">عدد المتعاملين</div>
								  </div>
							  </div>
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-account-outline mdi-18px text-dark"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-success text-primary font-weight-bold" th:text="*{dm.TotalSystemUsers}"></h2>
										  </div>
									  </div>
									  <canvas id="projects"></canvas>
									  <div class="line-chart-row-title">عدد مستخدمين النظام</div>
								  </div>
							  </div>
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-book-open-page-variant mdi-18px text-dark"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-info text-dark font-weight-bold " th:text="*{dm.TotalLoansCount}"></h2>
										  </div>
									  </div>
									  <canvas id="orderRecieved"></canvas>
									  <div class="line-chart-row-title">إجمالي عدد السلف</div>
								  </div>
							  </div>
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-file-document mdi-18px text-dark"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-info font-weight-bold" th:text="*{dm.OpenLoansCount}"></h2>
										  </div>
									  </div>
									  <canvas id="invoices"></canvas>
									  <div class="line-chart-row-title">عدد السلف المفتوحة</div>
								  </div>
							  </div>
						  </div>
						  <div class="row">
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-file mdi-18px text-dark"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-secondary font-weight-bold" th:text="*{dm.ClosedLoansCount}"></h2>
										  </div>
									  </div>
									  <canvas id="invoices"></canvas>
									  <div class="line-chart-row-title">عدد السلف المغلقة</div>
								  </div>
							  </div>
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-file-export mdi-18px text-dark"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-warning font-weight-bold" th:text="*{dm.ResLoansCount}"></h2>
										  </div>
									  </div>
									  <canvas id="invoices"></canvas>
									  <div class="line-chart-row-title">عدد السلف المعاد جدولتها</div>
								  </div>
							  </div>
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-cash-multiple text-dark mdi-18px"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-danger font-weight-bold" th:text="*{dm.LoansValue}"></h2>
										  </div>
									  </div>
									  <canvas id="invoices"></canvas>
									  <div class="line-chart-row-title">إجمالي قيم السلف</div>
								  </div>
							  </div>
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-cash text-dark mdi-18px"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-success font-weight-bold" th:text="*{dm.OpenLoansValue}"></h2>
										  </div>
									  </div>
									  <canvas id="invoices"></canvas>
									  <div class="line-chart-row-title">إجمالي قيم السلف المفتوحة</div>
								  </div>
							  </div>

							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-cash text-dark mdi-18px align-items-left"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-dark font-weight-bold text-dark"  th:text="*{dm.ClosedLoansValue}"></h2>
										  </div>
									  </div>
									  <canvas id="transactions"></canvas>
									  <div class="line-chart-row-title">إجمالي قيم السلف المغلقة</div>
								  </div>
							  </div>
							  <div class="col-lg-2 grid-margin stretch-card">
								  <div class="card">
									  <div class="card-body pb-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <i class="mdi mdi-cash text-dark mdi-18px"></i>
										  </div>
										  <br>
										  <div class="d-flex align-items-center justify-content-between">
											  <h2 class="text-info font-weight-bold" th:text="*{dm.ResLoansValue}"></h2>
										  </div>
									  </div>
									  <canvas id="transactions"></canvas>
									  <div class="line-chart-row-title">إجمالي قيم السلف المجدولة</div>

								  </div>
							  </div>

						  </div>

						  <!-- /.card -->
					  </div>
					  <!--/.col (left) -->
					  <!-- right column -->
					  <div class="col-md-6">

					  </div>
					  <!--/.col (right) -->
				  </div>
				  <!-- /.row -->
			  </div><!-- /.container-fluid -->
	  </section>
	  <!-- /.content -->
  </div>
	<!-- /.content-wrapper -->


	<footer class="footer">
		<div class="footer-wrap">
			<div class="w-100 clearfix">
				<span class="d-block text-center text-sm-left d-sm-inline-block">جميع الحقوق محفوظة©2020 <a href="https://www.templatewatch.com/" target="_blank"></a>مصرف سورية المركزي.</span>
			</div>
		</div>
	</footer>


</div>
</div>
<script src="../../static/new/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../static/new/js/template.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<script src="../../static/new/vendors/chart.js/Chart.min.js"></script>
<script src="../../static/new/vendors/progressbar.js/progressbar.min.js"></script>
<script src="../../static/new/vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js"></script>
<script src="../../static/new/vendors/justgage/raphael-2.1.4.min.js"></script>
<script src="../../static/new/vendors/justgage/justgage.js"></script>
<!-- Custom js for this page-->
<script src="../../static/new/new/js/dashboard.js"></script>
</body>
</html>