<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ar" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>إCentral Bank of syria</title>

    <link rel="stylesheet" th:href="@{/new/css/main.css}" href="/../../new/css/main.css" />
    <link rel="stylesheet" th:href="@{/new/css/highcharts.css}" href="/../../new/css/highcharts.css" />
    <link rel="stylesheet" th:href="@{/new/css/bootstrap.css}" href="/../../new/css/bootstrap.css" />

    <script th:src="@{/new/js/jquery-3.2.1.min.js}" src="../../js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/new/js/highcharts.js}" src="/../../new/js/highcharts.js"></script>
    <script th:src="@{/new/js/exporting.js}" src="/../../new/js/exporting.js"></script>


 <script type="text/javascript">
        $(function () {
        	multiBanksPagingAllocationsData();
        	multiBanksPagingLoansData();
        	multiBanksPagingLoansorderData();
        	multiBanksPagingLoansFinanceData();
        });
        
        function multiBanksPagingAllocationsData(params) {
            $.get("/ajax/getSingleYearMultiBankAllocationsData", params, function (data, textStatus, jqXHR) {
                console.log('textStatus : ' + textStatus);
                console.log('result : ' + JSON.stringify(data));

                if (textStatus == 'success') {

                    $('#pagedAllocationsContainer').highcharts({
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: data.title
                        },
                        xAxis: {
                            categories: data.categories,
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '',
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: +10,
                            y: 80,
                            floating: true,
                            borderWidth: 20,
                            backgroundColor: '#FAFAFA',
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: data.series
                    });
                } else {
                    console.log('Unable to retrive data');
                }

            });
        }
        
 
        function multiBanksPagingLoansData(params) {
            $.get("/ajax/getSingleYearMultiBankLoansData", params, function (data, textStatus, jqXHR) {
                console.log('textStatus : ' + textStatus);
                console.log('result : ' + JSON.stringify(data));

                if (textStatus == 'success') {

                    $('#pagedLoansContainer').highcharts({
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: data.title
                        },
                        xAxis: {
                            categories: data.categories,
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '',
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: +10,
                            y: 80,
                            floating: true,
                            borderWidth: 20,
                            backgroundColor: '#FAFAFA',
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: data.series
                    });
                } else {
                    console.log('Unable to retrive data');
                }

            });
        }
        function multiBanksPagingLoansorderData(params) {
            $.get("/ajax/getSingleYearMultiBankLoansOrderData", params, function (data, textStatus, jqXHR) {
                console.log('textStatus : ' + textStatus);
                console.log('result : ' + JSON.stringify(data));

                if (textStatus == 'success') {

                    $('#pagedLoansorderContainer').highcharts({
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: data.title
                        },
                        xAxis: {
                            categories: data.categories,
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '',
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: +10,
                            y: 80,
                            floating: true,
                            borderWidth: 20,
                            backgroundColor: '#FAFAFA',
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: data.series
                    });
                } else {
                    console.log('Unable to retrive data');
                }

            });
        }
        
        
        function multiBanksPagingLoansFinanceData(params) {
            $.get("/ajax/getSingleYearMultiBankFinanceOrderData", params, function (data, textStatus, jqXHR) {
                console.log('textStatus : ' + textStatus);
                console.log('result : ' + JSON.stringify(data));

                if (textStatus == 'success') {

                    $('#pagedFinanceContainer').highcharts({
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: data.title
                        },
                        xAxis: {
                            categories: data.categories,
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '%',
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: +10,
                            y: 80,
                            floating: true,
                            borderWidth: 20,
                            backgroundColor: '#FAFAFA',
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: data.series
                    });
                } else {
                    console.log('Unable to retrive data');
                }

            });
        }
    </script>
    
    <style>
	
</style>
</head>
<body>
<div id="wrapper" >
	<hr>

	<h2 style=>المخصصات الممنوحة</h2>
    <div id="pagedAllocationsContainer" style="height:70vh; width:100%" ></div>	

	
	<h2 style=>السلف الممنوحة</h2>
    <div id="pagedLoansContainer" style="height:70vh; width:100%" ></div>	

	<h2 style=>البنوك الأكثر طلبا للسلف</h2>
    <div id="pagedLoansorderContainer" style="height:70vh; width:100%" ></div>	

	<h2 style=>نسب التمويل</h2>
    <div id="pagedFinanceContainer" style="height:70vh; width:100%" ></div>	
	

</div>

<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>

</body>
</html>