<!DOCTYPE html>
<html  lang="ar" dir="rtl"
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>إضافة سند</h3>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h4>ادخل معلومات السند </h4>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="#"  th:action="@{/Loan/AddVoucher/}+${{myloan.id}}"  method="post" th:object="${voucher}">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">تاريخ السند </label>
                    <input type="date" name="VoucherDate" class="form-control" th:field="*{VoucherDate}">
                  </div>

					
                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">قيمة السند </label>
                    <input type="number" name="VoucherAmmount" class="form-control" placeholder="ادخل قيمة السند" th:field="*{VoucherAmmount}">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">الاجمالي </label>
                    <input type="number" name="Total" class="form-control" placeholder="ادخل الاجمالي"  th:field="*{Total}">
                  </div>


                  <div class="form-group">
                    <label for="exampleInputPassword1">القيمة الصافية </label>
                    <input type="number" name="NetAmmount" class="form-control" placeholder="Enter Total Ammount" th:field="*{NetAmmount}">
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">المتعامل</label><br>
                    <select th:field="*{client}">
                      <option th:each="client : ${allclient}" th:value="${client.id}" th:text="${client.ClientName}"></option>
                    </select>
                  </div>

                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">نسبة التمويل </label>
                    <input type="number" name="FundingRatio" class="form-control" placeholder="ادخل نسبة التمويل" th:field="*{FundingRatio}">
                  </div>
                  
       
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">تأكيد</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

<footer class="footer">
     <div class="footer-wrap">
         <div class="w-100 clearfix">
           <span class="d-block text-center text-sm-left d-sm-inline-block">جميع الحقوق محفوظة©2020 <a href="https://www.templatewatch.com/" target="_blank"></a>مصرف سورية المركزي.</span>
         </div>
     </div>
</footer>
 
</div>

</body>
</html>
