<!DOCTYPE html>
<html  lang="ar" dir="rtl"
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="width: 70%">معلومات السند  </h3>
              <form action="#" th:action="@{/Vouchers/Paid/}+ ${{voucher.VoucherID}}" method="get">
                        <button th:id="'table_entry_childs_button_' + ${voucher.VoucherID}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                            <i>دفع</i>
                        </button>
                </form>
            </div>
            
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
            
                <tbody>
               	  <tr>
                    <td> تاريخ السند </td>
                    <td th:text=${voucher.VoucherDate}></td>
                  </tr>
                  <tr>
                    <td> قيمة السند </td>
                    <td th:text=${voucher.VoucherAmmount}></td>
                  </tr>
                  <tr>
                    <td> الاجمالي </td>
                    <td th:text=${voucher.Total}> </td>
                  </tr>
                  <tr>
                    <td>Net Ammount </td>
                    <td th:text=${voucher.NetAmmount}> </td>
                  </tr>
                  <tr>
                    <td>نسبة التمويل </td>
                    <td th:text="${voucher.FundingRatio}"> </td>
                  </tr>
                  <tr>
                    <td> الحالة </td>
                    <td th:text=${voucher.Status}></td>
                  </tr>
                  <tr>
                    <td> المتعامل </td>
                    <td th:text=${voucher.client.ClientName}> </td>
                  </tr>
                  <tr>
                    <td> السلفة </td>
                    <td th:text="${voucher.loan.LoanID}"></td>
                  </tr>
                    
                </tbody>
        
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          
  <!-- /.content-wrapper -->
   <footer class="footer">
          <div class="footer-wrap">
              <div class="w-100 clearfix">
                <span class="d-block text-center text-sm-left d-sm-inline-block">جميع الحقوق محفوظة©2020 <a href="https://www.templatewatch.com/" target="_blank"></a>مصرف سورية المركزي.</span>
              </div>
          </div>
 </footer>  

</div>
<!-- ./wrapper -->

</body>
</html>
