<!DOCTYPE html>
<html  lang="ar" dir="rtl"
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
              <h4>المستخدمين الفعالين</h4>
              </div>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th> المعرف </th>
                        <th> اسم المستخدم </th>
                        <th> الجنس </th>
                        <th> البريد الاكتروني </th>
                        <th> الأدوار </th>
                        <th> تاريخ إنشاء الحساب</th>
                        <th> الحالة </th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${userslist.empty}">
                        <td colspan="2">لا يوجد مستخدمين فعالين </td>
                    </tr>
                    <tr th:each="user : ${userslist}">
                        <td><span th:text="${user.id}"> ID </span></td>
                        <td><span th:text="${user.username}"> UserName </span></td>
                        <td><span th:text="${user.Gender}"> Gender </span></td>
                        <td><span th:text="${user.email}"> Email </span></td>
                        <td><span th:text="${user.UserRoles}"> Roles </span></td>
                        <td><span th:text="${user.createdAt}"> CreatedAt </span></td>
                        <td><span th:text="${user.Active}"> Active </span></td>
                      <td sec:authorize="hasAnyAuthority('deActivateUser','ADMIN','SUPER')">
                          <form action="#" th:action="@{/adminstration/users/user/deactivate/} + ${{user.id}}" method="post">
                              <button th:id="'table_entry_childs_button_' + ${user.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                                  <i>تعطيل المستخدم</i>
                              </button>
                          </form>
                      </td>
                       <td sec:authorize="hasAnyAuthority('deleteUser','ADMIN','SUPER')">
                          <form action="#" th:action="@{/adminstration/users/delete/} + ${{user.id}}" method="post">
                              <button th:id="'table_entry_childs_button_' + ${user.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                                  <i>حذف</i>
                              </button>
                          </form>
                      </td>
                    </tr>
                </tbody>
            </table>
           			
              </div>
              <!-- /.card-header -->
              <!-- form start -->
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->
</body>
</html>
