<!DOCTYPE html>
<html  lang="ar" dir="rtl"
 xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
              <h4>معلومات المسخدم</h4>
              </div>
              <div class = "container">
              	
              	<div class="form-group">
                   <label for="exampleInputPassword1">المعرف</label>
                   <input type="text" name="id" class="form-control"  th:field="*{user.id}" readonly>
                  </div>
              	
              	<div class="form-group">
                   <label for="exampleInputPassword1">اسم المستخدم</label>
                   <input type="text" name="username" class="form-control" th:field="*{user.username}" readonly>
                  </div>
                  
					<div class="form-group">
                   <label for="exampleInputPassword1">البريد الاكتروني</label>
                   <input type="text" name="email" class="form-control"  th:field="*{user.email}" readonly>
                  </div>

					<div class="form-group">
                   <label for="exampleInputPassword1">الجنس</label>
                   <input type="text" name="email" class="form-control"  th:field="*{user.Gender}" readonly>
                  </div>

				<div class="form-group">
                   <label for="exampleInputPassword1">تاريخ إنشاء الحساب</label>
                   <input type="text" name="email" class="form-control"  th:field="*{user.CreatedAt}" readonly>
                  </div>

              </div>
              
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th> معرف الدور </th>
                        <th> اسم الدور </th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${userRoles.empty}">
                        <td colspan="2"> المستخدم لا يملك صلاحيات  </td>
                    </tr>
                    <tr th:each="userrole : ${userRoles}">
                       <td><span th:text="${userrole.id}"> id </span></td>
                        <td><span th:text="${userrole.RoleName}"> RoleName </span></td>
                    	<td>
                          <form action="#" th:action="@{/admistration/users/user/roles/revoke/}+ ${{user.id}} + @{/} + ${{userrole.id}}" method="post">
                              <button th:id="'table_entry_childs_button_'+ ${{user.id}} + ${userrole.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                                  <i>سحب الدور</i>
                              </button>
                          </form>
                      </td>
                    
                    </tr>
                </tbody>
            </table>
             <form action="#" th:action="@{/admistration/users/user/roles/grant/} + ${{user.id}}" method="get">
                    <button th:id="'table_entry_childs_button_' + ${user.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                    	<i>إضافة دور</i>
                     </button>
              </form>
              <p></p>
              
              
              
              
               <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th> معرف الصلاحية </th>
                        <th> اسم الصلاحية </th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${userPermissions.empty}">
                        <td colspan="2"> المسخدم لا يملك صلاحيات  </td>
                    </tr>
                    <tr th:each="userpermission : ${userPermissions}">
                       <td><span th:text="${userpermission.id}"> id </span></td>
                        <td><span th:text="${userpermission.PermissionName}"> PermissionName </span></td>
                    	<td>
                          <form action="#" th:action="@{/admistration/users/user/permissions/revoke/}+ ${{user.id}} + @{/} + ${{userpermission.id}}" method="post">
                              <button th:id="'table_entry_childs_button_'+ ${{user.id}} + ${userpermission.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                                  <i>سحب الصلاحية</i>
                              </button>
                          </form>
                      </td>
                    </tr>
                </tbody>
            </table>
             <form action="#" th:action="@{/admistration/users/user/permissions/grant/} + ${{user.id}}" method="get">
                    <button th:id="'table_entry_childs_button_' + ${user.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                    	<i>إضافة صلاحية</i>
                     </button>
              </form>
              <p></p>
              <form action="#" th:action="@{/adminstration/logs/userlogs/} + ${{user.id}}" method="get">
                    <button th:id="'table_entry_childs_button_' + ${user.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                    	<i>عرض سجل المستخدم</i>
                     </button>
              </form>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
</body>
</html>
