<!DOCTYPE html>
<html  lang="ar" dir="rtl"
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="ClientsFragments.html :: headerfiles">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="ClientsFragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>إضافة متعامل</h3>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">أدخل متعامل</h4>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="form-sample" th:action="@{/Clients/addClient}" th:object="${client}" method="post">
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">الإسم</label>
                    <input type="text" name="name" class="form-control"  placeholder="ادخل الاسم " th:field="*{ClientName}" pattern="^[a-zA-Z][a-zA-Z0-9-_\.\ ]{1,20}$">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">النوع</label>
                    <select  class="form-control" th:field="*{ClientType}">
               
                      <option th:value="شخص" th:text="شخص"></option>
  					  <option th:value="مؤسسة" th:text="مؤسسة"></option>
                    </select>  
                  </div>
                </div>
                </div>

                <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">الرقم الوطني</label>
                    <input type="text" name="Identity" class="form-control"  placeholder="ادخل الرقم الوطني" th:field="*{identity_number}" >
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">البريد الإلكتروني</label>
                    <input type="text" name="Identity" class="form-control"  placeholder="ادخل البريد الالكتروني" th:field="*{email}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                  </div>
                </div>
                </div>

                <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">رقم الهاتف</label>
                    <input type="text" name="Identity" class="form-control"  placeholder="ادخل رقم الهاتف" th:field="*{phone}">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">العنوان</label>
                    <input type="text" name="Identity" class="form-control"  placeholder="ادخل العنوان" th:field="*{address}" >
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">عدد الأولاد</label>
                    <input type="text" name="Identity" class="form-control"  placeholder="ادخل عدد الاولاد" th:field="*{NumberOFChilderen}" >
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">العمر</label>
                    <input type="text" name="Identity" class="form-control"  placeholder="ادخل العمر" th:field="*{Age}" >
                  </div>
                </div>
                </div>

                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">الحالة الإجتماعية</label>
                      <div class="col-sm-9">
                        <select class="form-control" th:field="*{Married}">
                          <option th:value="''" th:text="اختيار"></option>
                          <option th:value="'Y'" th:text="متزوج"></option>
                          <option th:value="'N'" th:text="اعزب"></option>
                        </select>
                      </div>
                    </div>
                  </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">الجنس</label>
                    <div class="col-sm-9">
                    <select class="form-control" th:field="*{gender}">
                    <option th:value="''" th:text="اختيار"></option>
                      <option th:value="'M'" th:text="ذكر"></option>
  					  <option th:value="'F'" th:text="انثى"></option>
                    </select>  
                  </div>
                  </div>
                </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">الدخل</label>
                      <input type="text" name="Identity" class="form-control"  placeholder="الدخل" th:field="*{income}" >
                    </div>
                  </div>
                </div>


                <div class="row">
                  <h3> يرجى الإطلاع على المعلومات قبل الضغط على زر التأكيد</h3>
                  <p class="mb-2">&nbsp</p>
                </div>
                <div class="row">
                  <br>
                  <label class="toggle-switch" style="float: right;">
                    <input type="checkbox" required="">
                    <span class="toggle-slider round"></span>
                  </label>
                </div>
                <!-- /.card-body -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                  <button type="submit" class="btn btn-primary">تأكيد</button>
                </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  
<footer class="footer">
     <div class="footer-wrap">
         <div class="w-100 clearfix">
           <span class="d-block text-center text-sm-left d-sm-inline-block">جميع الحقوق محفوظة©2020 <a href="https://www.templatewatch.com/" target="_blank"></a>مصرف سورية المركزي.</span>
         </div>
     </div>
</footer>


</div>
</body>
</html>
