<!DOCTYPE html>
<html  lang="ar" dir="rtl"
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>تعديل متعامل</h3>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
				<h4>أدخل معلومات المتعامل</h4>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form  action="#"  th:action="@{/Clients/update/}+${{client.id}}" th:object="${client}" method="post">
                <div class="card-body">
                
               <div class="form-group">
                  <label for="exampleInputEmail1">ID</label>
                  <input type="number" name="BankName" class="form-control" id="exampleInputEmail1" placeholder="" th:field="*{id}" readonly>
               </div>
                
               <div class="form-group">
                    <label for="exampleInputEmail1">الاسم</label>
                    <input type="text" name="name" class="form-control"  placeholder="Enter Name" th:field="*{ClientName}">
                  </div>
            
                   <div class="form-group">
                    <label for="exampleInputPassword1">النوع</label><br>
                    <select th:field="*{ClientType}">
               
                      <option th:value="person" th:text="person"></option>
  					  <option th:value="institution" th:text="Institution"></option>
                    </select>  
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">الرقم الوطني</label>
                    <input type="text" name="Identity" class="form-control"  placeholder="Enter Identity Number" th:field="*{identity_number}">
                  </div>
                  
                                    <div class="form-group">
                    <label for="exampleInputEmail1">البريد الالكتروني </label>
                    <input type="text" name="Identity" class="form-control"  placeholder="ادخل البريد الالكتروني" th:field="*{email}">
                  </div>
                        
                  <div class="form-group">
                    <label for="exampleInputEmail1">رقم الهاتف</label>
                    <input type="text" name="Identity" class="form-control"  placeholder="ادخل رقم الهاتف" th:field="*{phone}">
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputEmail1"> العنوان</label>
                    <input type="text" name="Identity" class="form-control"  placeholder="ادخل العنوان" th:field="*{address}">
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">الجنس</label><br>
                    <select th:field="*{gender}">
                    <option th:value="''" th:text="Select"></option>
                      <option th:value="'M'" th:text="Male"></option>
  					  <option th:value="'F'" th:text="Female"></option>
                    </select>  
                  </div>  
                  
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">تعديل</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="footer">
          <div class="footer-wrap">
              <div class="w-100 clearfix">
                <span class="d-block text-center text-sm-left d-sm-inline-block">جميع الحقوق محفوظة©2020 <a href="https://www.templatewatch.com/" target="_blank"></a>مصرف سورية المركزي.</span>
              </div>
          </div>
 </footer>  

</div>

</body>
</html>
