<!DOCTYPE html>
<html  lang="ar" dir="rtl"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="PermissionsFragments.html :: headerfiles">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="PermissionsFragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
              <h4>كل الصلاحيات</h4>
              </div>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th> المعرف </th>
                        <th> اسم الصلاحية </th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${permissionsList.empty}">
                        <td colspan="2"> لا يوجد صلاحيات لعرضها</td>
                    </tr>
                    <tr th:each="permission : ${permissionsList}">
                        <td><span th:text="${permission.id}"> PermissionID </span></td>
                        <td><span th:text="${permission.PermissionName}"> PermissionName </span></td>
                        <td sec:authorize="hasAnyAuthority('managePermission','ADMIN','SUPER')">
                          <form action="#" th:action="@{/security/permissions/manage/} + ${{permission.id}}" method="get">
                              <button th:id="'table_entry_childs_button_' + ${permission.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                                  <i>إدارة</i>
                              </button>
                          </form>
                      </td>
                    </tr>
                     <a th:href="@{|/security/permissions/all?index=${nxt}|}" class="btn btn-inverse-primary btn-fw">&laquo; التالي </a>
					     <a th:href="@{|/security/permissions/all?index=${prev}|}" class="btn btn-inverse-danger btn-fw">السابق&raquo;</a>
                </tbody>
            </table>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    <footer class="footer">
      <div class="footer-wrap">
          <div class="w-100 clearfix">
            <span class="d-block text-center text-sm-left d-sm-inline-block">جميع الحقوق محفوظة©2020 <a href="https://www.templatewatch.com/" target="_blank"></a>مصرف سورية المركزي.</span>
          </div>
      </div>
 </footer> 
</div>
<!-- ./wrapper -->
</body>
</html>
