<!DOCTYPE html>
<html  lang="ar" dir="rtl"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="PermissionsFragments.html :: headerfiles">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="PermissionsFragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
              <h4>منح صلاحيات</h4>
              </div>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th> المعرف </th>
                        <th> اسم الصلاحية </th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${permissionslist.empty}">
                        <td colspan="2"> لا يوجد صلاحيات لمنحها </td>
                    </tr>
                    <tr th:each="permission : ${permissionslist}">
                        <td><span th:text="${permission.id}"> PermissionID </span></td>
                        <td><span th:text="${permission.PermissionName}"> PermissionName </span></td>
                        
                        <td>
                          <form action="#" th:action="@{/admistration/users/user/permissions/grant/}+ ${{user.id}} +@{/}+ ${{permission.id}}" method="post">
                              <button th:id="'table_entry_childs_button_' +  ${{user.id}} + ${permission.id}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">
                                  <i>منح الصلاحية </i>
                              </button>
                          </form>
                      </td>
                    </tr>
                </tbody>
            </table>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->


</body>
</html>
