<!DOCTYPE html>
<html lang="ar" dir="rtl"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="LoanFragements.html :: headerfiles">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Central Bank of syria</title>
    <!-- base:css -->
    <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/../../new/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="LoanFragements.html :: nav"></header>
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3>إضافة سلفة</h3>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">أدخل سلفة</h4>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-sample" action="#" th:action="@{/Loans/addLoan}" method="post"
                          th:object="${loan}">


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">رقم الرهن</label>
                                    <input type="text" name="Name" class="form-control" th:field="*{Name}"
                                           pattern="^[a-zA-Z][a-zA-Z0-9-_\.\ ]{1,20}$" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">رقم السلفة</label>
                                    <input type="text" name="Name" class="form-control" th:field="*{LoanNumber}"
                                           pattern="[0-9]+">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">تاريخ العمل</label>
                                    <div class="col-sm-9">
                                        <input type="date" name="workDate" class="form-control" th:field="*{WorkDate}">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">تلريخ السلفة</label>
                                    <div class="col-sm-9">
                                        <input type="date" name="LoanDate" class="form-control" th:field="*{LoanDate}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">نوع السلفة</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" th:field="*{loanType}">
                                            <option th:each="loantype : ${allloantype}"
                                                    th:value="${loantype.LoanTypeID}"
                                                    th:text="${loantype.TypeName} "></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">نوع التمويل</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" th:field="*{financeType}">
                                            <option th:each="financetype : ${allfinancetype}"
                                                    th:value="${financetype.FinanceTypeID}"
                                                    th:text="${financetype.TypeName} "></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">المتعامل</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" th:field="*{client}">
                                            <option th:each="client : ${allclient}" th:value="${client.id}"
                                                    th:text="${client.ClientName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">المتعامل</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" th:field="*{branche}">
                                            <option th:each="branche : ${allbranche}" th:value="${branche.id}"
                                                    th:text="${branche.bank.BankName}+ ' '+ ${branche.BranchName} "></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">معدل الفائدة</label>
                                    <input type="number" name="interestRate" class="form-control"
                                           placeholder="Enter Interest Rate" th:field="*{InterestRate}"
                                           pattern="[0-9]+">
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">معدل التأخير</label>
                                    <input type="number" name="DelayInterestRate" class="form-control"
                                           placeholder="Enter Delay Interest Rate" th:field="*{DelayInterestRate}"
                                           pattern="[0-9]+">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">القيمة الكلية</label>
                                    <input type="number" name="TotalAmmount" class="form-control"
                                           placeholder="Enter Total Ammount" th:field="*{TotalAmmount}"
                                           pattern="[0-9]+">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">القيمة الكلية كتابياً</label>
                                    <input type="text" name="TotalAmmountAsString" class="form-control"
                                           placeholder="Enter Total Ammount As String "
                                           th:field="*{TotalAmmountAsString}"
                                           pattern="^[a-zA-Z][a-zA-Z0-9-_\.\ ]{1,20}$">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">القيمة الصافية</label>
                                    <input type="number" name="NetAmmount" class="form-control"
                                           placeholder="Enter Net Ammount" th:field="*{NetAmmount}" pattern="[0-9]+">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">الصافية كتابياًً</label>
                                    <input type="text" name="NetAmmountAsString" class="form-control"
                                           placeholder="Enter Net Ammount As String " th:field="*{NetAmmountAsString}"
                                           pattern="^[a-zA-Z][a-zA-Z0-9-_\.\ ]{1,20}$">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">عدد السندات</label>
                                    <input type="text" name="NumberOfVoucher" class="form-control"
                                           placeholder="Enter Number Of Voucher" th:field="*{NumberOfVoucher}"
                                           pattern="[0-9]+">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">عدد السندات كتابياً</label>
                                    <input type="text" name="Number Of VoucherAsString" class="form-control"
                                           placeholder="Enter Number Of Voucher As String "
                                           th:field="*{NumberOfVoucherAsString}"
                                           pattern="^[a-zA-Z][a-zA-Z0-9-_\.\ ]{1,20}$">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">رقم القرار</label>
                                    <input type="number" name="ClearanceNumber" class="form-control"
                                           placeholder="Enter Clearance Number  " th:field="*{ClearanceNumber}"
                                           pattern="[0-9]+">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">الهدف</label>
                                    <input type="text" name="purpose" class="form-control" placeholder="Enter purpose  "
                                           th:field="*{purpose}" pattern="^[a-zA-Z][a-zA-Z0-9-_\.\ ]{1,20}$">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">الفريق الأول</label>
                                    <input type="text" name="FirstSide" class="form-control"
                                           placeholder="Enter First Side"
                                           th:field="*{FirstSide}" pattern="^[a-zA-Z][a-zA-Z0-9-_\.\ ]{1,20}$">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">الفريق الثاني</label>
                                    <input type="text" name="SecondSide" class="form-control"
                                           placeholder="Enter Second Side" th:field="*{SecondSide}"
                                           pattern="^[a-zA-Z][a-zA-Z0-9-_\.\ ]{1,20}$">
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="row">
                            <h3> يرجى الإطلاع على المعلومات قبل الضغط على زر التأكيد</h3>
                            <p class="mb-2">&nbsp</p>
                        </div>
                        <div class="row">
                            <br>
                            <label class="toggle-switch" style="float: right;">
                                <input type="checkbox" required="">
                                <span class="toggle-slider round"></span>
                            </label>
                        </div>

                        <div class="row">

                            <button type="submit" class="btn btn-primary">تأكيد</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<footer class="footer">
    <div class="footer-wrap">
        <div class="w-100 clearfix">
            <span class="d-block text-center text-sm-left d-sm-inline-block">جميع الحقوق محفوظة©2020 <a
                    href="https://www.templatewatch.com/" target="_blank"></a>مصرف سورية المركزي.</span>
        </div>
    </div>
</footer>
</div>
<!-- ./wrapper -->

</body>
</html>
