<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Loan</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Add Loan</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">New Loan :  <small>Insert Details</small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="#"  th:action="@{/Loans/addLoan}"  method="post" th:object="${loan}">
                <div class="card-body">
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" name="Name" class="form-control" th:field="*{Name}">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Work Date </label>
                    <input type="date" name="workDate" class="form-control" th:field="*{WorkDate}">
                  </div>


                  <div class="form-group">
                    <label for="exampleInputPassword1">Loan Date </label>
                    <input type="date" name="LoanDate" class="form-control" th:field="*{LoanDate}">
                  </div>
					
					
                  <div class="form-group">
                    <label for="exampleInputPassword1">Loan Type</label><br>
                    <select th:field="*{loanType}">
                      <option th:each="loantype : ${allloantype}" th:value="${loantype.LoanTypeID}" th:text="${loantype.TypeName} "></option>	  
                    </select>
                  </div>  
				

                  <div class="form-group">
                    <label for="exampleInputPassword1">Finance Type</label><br>
                    <select th:field="*{financeType}">
                      <option th:each="financetype : ${allfinancetype}" th:value="${financetype.FinanceTypeID}" th:text="${financetype.TypeName} "></option>	  
                    </select>
                  </div>

                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">Interest Rate </label>
                    <input type="number" name="interestRate" class="form-control" placeholder="Enter Interest Rate" th:field="*{InterestRate}">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Client</label><br>
                    <select th:field="*{client}">
                      <option th:each="client : ${allclient}" th:value="${client.ClientID}" th:text="${client.ClientName}"></option>
  					  
                    </select>
                  </div>


                  <div class="form-group">
                    <label for="exampleInputPassword1">Bank</label><br>
                    <select th:field="*{bank}">
                      <option th:each="bank : ${allbank}" th:value="${bank.BankID}" th:text="${bank.BankName}+ ' '+ ${bank.BranchName} "></option>	  
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Delay Interest Rate </label>
                    <input type="number" name="DelayInterestRate" class="form-control" placeholder="Enter Delay Interest Rate"  th:field="*{DelayInterestRate}">
                  </div>


                  <div class="form-group">
                    <label for="exampleInputPassword1">Total Ammount </label>
                    <input type="number" name="TotalAmmount" class="form-control" placeholder="Enter Total Ammount" th:field="*{TotalAmmount}">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Total Ammount As String </label>
                    <input type="text" name="TotalAmmountAsString" class="form-control" placeholder="Enter Total Ammount As String " th:field="*{TotalAmmountAsString}">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Net Ammount </label>
                    <input type="number" name="NetAmmount" class="form-control" placeholder="Enter Net Ammount" th:field="*{NetAmmount}">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Net Ammount As String </label>
                    <input type="text" name="NetAmmountAsString" class="form-control" placeholder="Enter Net Ammount As String " th:field="*{NetAmmountAsString}">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Number Of Voucher </label>
                    <input type="text" name="NumberOfVoucher" class="form-control" placeholder="Enter Number Of Voucher" th:field="*{NumberOfVoucher}">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Number Of Voucher As String </label>
                    <input type="text" name="Number Of VoucherAsString" class="form-control" placeholder="Enter Number Of Voucher As String " th:field="*{NumberOfVoucherAsString}">
                  </div>


                  <div class="form-group">
                    <label for="exampleInputPassword1">Clearance Number </label>
                    <input type="number" name="ClearanceNumber" class="form-control" placeholder="Enter Clearance Number  " th:field="*{ClearanceNumber}">
                  </div>



                  <div class="form-group">
                    <label for="exampleInputPassword1">purpose </label>
                    <input type="text" name="purpose" class="form-control" placeholder="Enter purpose  " th:field="*{purpose}">
                  </div>


                  <div class="form-group">
                    <label for="exampleInputPassword1">First Side </label>
                    <input type="text" name="FirstSide" class="form-control" placeholder="Enter First Side" th:field="*{FirstSide}">
                  </div>
                

                  <div class="form-group">
                    <label for="exampleInputPassword1">Second Side </label>
                    <input type="text" name="SecondSide" class="form-control" placeholder="Enter Second Side" th:field="*{SecondSide}">
                  </div>
                    
                
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      
    </div>
    <strong>Copyright &copy; 2014-2022 <a href="http://adminlte.io">our team</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jquery-validation -->
<script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="../../plugins/jquery-validation/additional-methods.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  $.validator.setDefaults({
    submitHandler: function () {
      alert( "Form successful submitted!" );
    }
  });
  $('#quickForm').validate({
    rules: {
      email: {
        required: true,
        email: true,
      },
      password: {
        required: true,
        minlength: 5
      },
      terms: {
        required: true
      },
    },
    messages: {
      email: {
        required: "Please enter a email address",
        email: "Please enter a vaild email address"
      },
      password: {
        required: "Please provide a password",
        minlength: "Your password must be at least 5 characters long"
      },
      terms: "Please accept our terms"
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
</script>
</body>
</html>
