<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Loanss</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">All Loans</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="width: 70%">All Loans </h3>
              
             

            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Work Date</th>
                  <th>Loan Date</th>
                  <th>Finance Type</th>
                  <th>Interest Rate</th>
                  <th>Clients</th>
                  <th>Loan Type</th>
                  <th>Net Ammount</th>
                  <th></th>
                  <th></th>
                  <th></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> 10/3/2020 </td>
                  <td>17/3/2020 </td>
                  <td>مواسم استراتيجية</td>
                  <td>1</td>
                  <td>2</td>
                  <td>مرخص</td>
                  <td>1000000</td>
                  <td><a href="">view </a></td>
                  <td><a href="">update </a></td>
                  <td><a href="">delete </a></td>
                </tr>

                <tr>
                  <td> 10/3/2020 </td>
                  <td>17/3/2020 </td>
                  <td>مواسم استراتيجية</td>
                  <td>1</td>
                  <td>2</td>
                  <td>مرخص</td>
                  <td>1000000</td>

                  <td><a href="">view </a></td>
                  <td><a href="">update </a></td>
                  <td><a href="">delete </a></td>
                </tr>

                <tr>
                  <td> 10/3/2020 </td>
                  <td>17/3/2020 </td>
                  <td>مواسم استراتيجية</td>
                  <td>1</td>
                  <td>2</td>
                  <td>مرخص</td>
                  <td>1000000</td>

                  <td><a href="">view </a></td>
                  <td><a href="">update </a></td>
                  <td><a href="">delete </a></td>
                </tr>

                </tbody>
        
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          
  <!-- /.content-wrapper -->
  <footer class="main-footer">
 
    <strong>Copyright &copy; 2014-2019 <a href="">Our Team</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>
</html>
