<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>loan</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">loan</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title" style="width: 70%">Loan Details  </h3>
              
             

            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
            
                <tbody>
                  <tr>
                    <td> Work Date </td>
                    <td th:text=${loan.WorkDate}></td>
                  </tr>
                  <tr>
                    <td> Loan Date </td>
                    <td th:text=${loan.LoanDate}> </td>
                  </tr>
                  <tr>
                    <td>Loan Type </td>
                    <td th:text=${loan.loanType.TypeName}> </td>
                  </tr>
                  <tr>
                    <td> Finance Type </td>
                    <td th:text="${loan.financeType.TypeName}"> </td>
                  </tr>
                  <tr>
                    <td> Interest Rate </td>
                    <td th:text=${loan.InterestRate}+'%'></td>
                  </tr>
                  <tr>
                    <td> Delay Interest Rate </td>
                    <td th:text=${loan.DelayInterestRate}+'%'> </td>
                  </tr>
                  <tr>
                    <td> Client </td>
                    <td th:text="${loan.client.ClientName}"></td>
                  </tr>
                  <tr>
                    <td>Bank </td>
                    <td th:text ="${loan.bank.BankName}+' '+${loan.bank.BranchName}"></td>
                  </tr>
                  <tr>
                    <td>Total Ammount </td>
                    <td th:text=${loan.TotalAmmount}></td>
                  </tr>
                  <tr>
                    <td> Total Ammount As String </td>
                    <td th:text=${loan.TotalAmmountAsString}></td>
                  </tr>
                  <tr>
                    <td>Net Ammount </td>
                    <td th:text=${loan.NetAmmount}></td>
                  </tr>
                  <tr>
                    <td>Net Ammount As String </td>
                    <td th:text=${loan.NetAmmountAsString}></td>
                  </tr>

                  <tr>
                    <td>Number Of Voucher</td>
                    <td th:text=${loan.NumberOfVoucher}></td>
                  </tr>

                  <tr>
                    <td>Number Of Voucher As String </td>
                    <td th:text=${loan.NumberOfVoucherAsString}> </td>
                  </tr>

                  <tr>
                    <td>purpose </td>
                    <td th:text=${loan.purpose}> </td>
                  </tr>

                  <tr>
                    <td>Clearance Number</td>
                    <td th:text=${loan.ClearanceNumber}> </td>
                  </tr>

                  <tr>
                    <td>First Side </td>
                    <td th:text=${loan.FirstSide}> </td>
                  </tr>

                  <tr>
                    <td>second Side </td>
                    <td th:text=${loan.SecondSide}> </td>
                  </tr>               
                </tbody>
        
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          
  <!-- /.content-wrapper -->
  <footer class="main-footer">
 
    <strong>Copyright &copy; 2014-2019 <a href="">Our Team</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>
</html>
