<!DOCTYPE html>
<html  lang="ar" dir="rtl"
 xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Central Bank of syria</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/../../new/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/../../new/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/../../new/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/../../new/images/photo5810167110637302253.jpg" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header th:insert="fragments.html :: nav"></header>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
			<div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.NumberOfChecksPerDay}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">عدد الشيكات المدخلة لهذا اليوم</div>
					</div>
			</div>
			<div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.ValueOfChecksPerDay}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">قيمة الشيكات المدخلة لهذا اليوم</div>
					</div>
			</div>
			<div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.DailyExchangeValue}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">حجم تبادل نظام التسوية لهذا اليوم</div>
					</div>
			</div>
            <!-- /.card -->
            </div>
            
            
            
            
        <div class="row">
          <!-- left column -->

          <div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.BanksCount}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">عدد البنوك المتعاملة مع نظام التسوية</div>
					</div>
			</div>
			<div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.NumberOfChecksPerMonth}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">عدد الشيكات المدخلة خلال هذا الشهر</div>
					</div>
			</div>
			<div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.ValueOfChecksPerMonth}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">قيمة الشيكات المدخلة خلال هذا الشهر</div>
					</div>
			</div>
			<div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.MonthlyExchangeValue}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">حجم تبادل نظام التسوية خلال هذا الشهر</div>
					</div>
			</div>
            <!-- /.card -->
            </div>
            
            
        <div class="row">
          <!-- left column -->
			<div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.NumberOfChecksPerYear}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">عدد الشيكات المدخلة خلال هذه السنة</div>
					</div>
			</div>
			<div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.ValueOfChecksPerYear}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">قيمة الشيكات المدخلة خلال هذه السنة</div>
					</div>
			</div>
			<div class="col-lg-2 grid-margin stretch-card">
					<div class="card">
						<div class="card-body pb-0">
							<div class="d-flex align-items-center justify-content-between">
								<h2 class="text-success font-weight-bold" th:text="*{model.YearExchangeValue}"></h2>
								<i class="mdi mdi-account-outline mdi-18px text-dark"></i>
							</div>
						</div>
						<canvas id="newClient"></canvas>
						<div class="line-chart-row-title">حجم تبادل نظام التسوية خلال هذذ السنة</div>
					</div>
			</div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<footer class="footer">
          <div class="footer-wrap">
              <div class="w-100 clearfix">
                <span class="d-block text-center text-sm-left d-sm-inline-block">جميع الحقوق محفوظة©2020 <a href="https://www.templatewatch.com/" target="_blank"></a>مصرف سورية المركزي.</span>
              </div>
          </div>
 </footer>
</body>
</html>
